* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #ff0099; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1a0a13,
    #1a0e15
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1a0a13,
    #1a0e15
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.navbar {
  background-color: rgba(145, 0, 145, 0.5);
  display: flex;
  align-items: center;
  height: 7vh;
  justify-content: space-around;
}

.navbar .logo h1 {
  font-size: 4vh;
  transition: all 0.2s ease;
}

.navbar a:hover .logo h1 {
  color: blue;
  letter-spacing: 0.1vw;
}

.login {
  border: none;
  padding: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  cursor: pointer;
  background-color: rgb(119, 119, 255);
  border-radius: 2px;
  transition: all 0.2s ease;
}

.login:hover {
  background-color: rgba(119, 119, 255, 0.63);
}

.navbar ul a:last-child,
.navbar ul div:last-child {
  margin: 0;
  align-items: center;
}

.navbar ul a,
.navbar ul div {
  transition: all 0.2s ease;
  margin-right: 2vw;
  margin-top: 0.5vh;
  align-items: center;
}

.navbar ul a:hover {
  color: rgb(0, 0, 255);
  letter-spacing: 0.05vw;
}

.navbar ul {
  display: flex;
}

.navbar .username-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar .username-container i {
  margin-right: 0.5vw;
}

.navbar .username-container:hover {
  background-color: rgba(117, 117, 117, 0.507);
  border-radius: 5px;
  padding: 2px;
}

.navbar .username-container img {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  margin-right: 0.5vw;
}

.main {
  display: flex;
  justify-content: left;
  margin-top: 15vh;
  margin-left: 15vw;
  color: rgba(212, 0, 212, 0.685);
}

.main h1 {
  font-size: 7vh;
}

.main p {
  margin-top: 2vh;
  width: 40vw;
  line-height: 4vh;
  color: #c08ca8;
}

.main-button-container {
  margin-top: 3vh;
}

.main-button-container a:first-child {
  margin: 0;
}

.main-button-container button {
  padding: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  border: none;
  border-radius: 3px;
  background-color: #ff55bb;
  transition: all 0.3s ease;
  cursor: pointer;
}

.main-button-container a {
  margin-left: 1vw;
}

.main-button-container a:hover button {
  background-color: #ff55bb9f;
}

.main img {
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  margin-left: 8vw;
  box-shadow: 0 0 6vh #ff0099;
  animation-name: sizechange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes sizechange {
  0% {
    margin-top: 0;
  }
  25% {
    box-shadow: 0 0 6vh #ff6600;
  }
  35% {
    box-shadow: 0 0 6vh #00ffbf;
  }
  50% {
    margin-top: 2vh;
    box-shadow: 0 0 6vh #0486ff;
  }
  60% {
    box-shadow: 0 0 6vh #7700ff;
  }
  75% {
    box-shadow: 0 0 6vh #00ff15;
  }
  85% {
    box-shadow: 0 0 6vh #ffd900;
  }
  100% {
    margin-top: 0;
  }
}

.guilds {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 10vh;
  gap: 5vw;
}

.guilds div {
  background-color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  align-items: center;
  padding-bottom: 2vh;
  border-radius: 10px;
  cursor: pointer;
  max-width: fit-content;
}

.guilds div h1 {
  background-color: rgb(77, 77, 77);
  border-radius: 10px 10px 0 0;
  padding: 3vw;
}

.guilds div p {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2vh;
}

.guilds div img {
  border-radius: 10px 10px 0 0;
  height: 30vh;
  width: 40vh;
}

.guilds div:hover {
  color: blue;
  background-color: rgb(43, 43, 43);
}

.guilds div.guilds-title {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: transparent;
  width: initial;
}

.guilds div.guilds-title {
  color: white;
  cursor: default;
  max-width: initial;
}

.guilds div.guilds-title h1 {
  background-color: transparent;
  padding: 0;
}
